html{
  background-color: #010101;
  color: #f2f2f2;
  font-family: 'Google Sans', sans-serif;
  max-width: 100vw;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}



h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #f2f2f2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 900;
  font-family: 'Google Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p{
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #f2f2f2;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-family: 'Google Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 20px;
}

.main-sub{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}